{% extends 'base.html.twig' %}

{% block body %}
    <hr>
<a href="/index/create">Create Index - Lead</a>
<hr>
<a href="/index/update">Update Index - Lead</a>
<hr>
<a href="/index/delete">Delete Index - Lead</a>
<hr>
{% endblock %}
