<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<a href="/index/">Elastic Index</a>
<a href="/field/">User Field</a>
<a href="/lead/">User Leads</a>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
